<!DOCTYPE html>
<html lang="en-CA">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{site.title}}</title>

    <link rel="icon" href="assets/favicon.ico">

    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//stackpath.bootstrapcdn.com' />
    <link rel='stylesheet' id='winsome-fonts-css' href='https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C700%2C900%2C400italic%2C700italic%2C900italic%7CRaleway%3A400%2C500%2C700%2C900%2C400italic%2C700italic%2C900italic&#038;subset=latin%2Clatin-ext'
        type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'
        type='text/css' media='all' />
    <link rel='stylesheet' id='jquery-owl-carousel-css' href='assets/owl-carousel/owl.carousel.css'
        type='text/css' media='all' />
    <link rel='stylesheet' id='winsome-style-css' href='assets/winsome/style.css'
        type='text/css' media='all' />
    <link rel='stylesheet' id='lightboxStyle-css' href='assets/colorbox/colorbox.min.css?ver=2.7.2'
        type='text/css' media='screen' />
    <script type='text/javascript' src='https://code.jquery.com/jquery-1.12.4.min.js'></script>
    <script type='text/javascript' src='https://code.jquery.com/jquery-migrate-1.4.1.min.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/swfobject/2.2/swfobject.min.js'></script>
    <link rel="canonical" href="http://www.panshin.me/" />
    <link rel='shortlink' href='http://www.panshin.me/' />
</head>

<body class="home page-template page-template-templates page-template-home page-template-templateshome-php page page-id-3590 group-blog global-layout-no-sidebar">
    <div id="page" class="site">
        <header id="masthead" class="site-header slider-enabled" role="banner">
            <div class="container">
                <div class="site-branding">


                    <p class="site-title"><a href="http://www.panshin.me/" rel="home">Yura &amp; Viki</a></p>

                    <p class="site-description">Welcome to our space</p>
                </div><!-- .site-branding -->
                <div id="main-nav" class="clear-fix">
                    <nav id="site-navigation" class="main-navigation" role="navigation">
                        <div class="wrap-menu-content">
                            <div class="menu-links-container">
                                <ul id="primary-menu" class="menu">
                                    <li id="menu-item-3613" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3613"><a
                                            href="http://travel.panshin.me">Travel</a></li>
                                    <li id="menu-item-3614" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3614"><a
                                            href="http://tech.panshin.me">Tech</a></li>
                                    <li id="menu-item-3615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3615"><a
                                            href="http://cooking.panshin.me">Recipes</a></li>
                                </ul>
                            </div>
                        </div><!-- .menu-content -->
                    </nav><!-- #site-navigation -->
                </div> <!-- #main-nav -->
            </div><!-- .container -->
        </header><!-- #masthead -->
        <div id="featured-slider">
            <div id="main-slider" class="owl-carousel">

                <div class="item" style="background-image: url(assets/images/IMG_6522.jpg); ">
                    <div class="caption">
                        <h3>“The world is a book, and those who do not travel read only a page.” – Saint Augustine</h3>


                        <div class="slider-cta">
                            <a href="http://travel.panshin.me">Travel Blog</a>
                        </div>

                    </div><!-- .caption -->

                </div>

                <div class="item" style="background-image: url(assets/images/IMG_1646.JPG); ">
                    <div class="caption">
                        <h3>&quot;The science of today is the technology of tomorrow&quot; - Edward Teller</h3>


                        <div class="slider-cta">
                            <a href="http://tech.panshin.me">Tech Blog</a>
                        </div>

                    </div><!-- .caption -->

                </div>

                <div class="item" style="background-image: url(assets/images/Slice.jpg); ">
                    <div class="caption">
                        <h3>Healthy Food, for a Good Mood</h3>


                        <div class="slider-cta">
                            <a href="http://cooking.panshin.me">Recipes Blog</a>
                        </div>

                    </div><!-- .caption -->

                </div>
            </div> <!-- #main-slider -->

        </div><!-- #featured-slider -->

        <div id="home-page-widget-area" class="widget-area">

            <section id="winsome-facts-3" class="widget winsome_widget_facts">
                <div id="winsome-facts-3" class="some-facts">

                    <div class="container">




                        <div class="counter-wrapper fact-third">

                            <div class="counter-item counter-one">
                                <span class="count-icon">
                                    <i class="fa fa-globe"></i>
                                </span>

                                <span class="count">8</span>

                                <span class="count-text">Posts</span>
                            </div><!-- .counter-item -->


                            <div class="counter-item counter-two">
                                <span class="count-icon">
                                    <i class="fa fa-code"></i>
                                </span>

                                <span class="count">20</span>

                                <span class="count-text">Posts</span>
                            </div><!-- .counter-item -->


                            <div class="counter-item counter-three">
                                <span class="count-icon">
                                    <i class="fa fa-cutlery"></i>
                                </span>

                                <span class="count">10</span>

                                <span class="count-text">Posts</span>
                            </div><!-- .counter-item -->

                        </div><!-- .counter-wrapper -->

                    </div>

                </div><!-- .some-facts -->

            </section>
        </div><!-- #home-page-widget-area -->


        <div id="content" class="site-content">
            <div class="container">
                <div class="inner-wrapper"></div><!-- .inner-wrapper -->
            </div><!-- .container -->
        </div><!-- #content -->

        <footer id="colophon" class="site-footer" role="contentinfo">
            <div class="container">
                <div class="copyright">
                    Copyright &copy; All rights reserved. </div><!-- .copyright -->



                <div class="site-info">
                    Winsome by <a href="https://promenadethemes.com" rel="designer">Promenade Themes</a> </div><!-- .site-info -->


            </div><!-- .container -->
        </footer><!-- #colophon -->
    </div><!-- #page -->

    <a href="#page" class="scrollup" id="btn-scrollup"><i class="fa fa-angle-up"></i></a><!-- Lightbox Plus Colorbox v2.7.2/1.5.9 - 2013.01.24 - Message: 0-->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $("a[rel*=lightbox]").colorbox({ speed: 350, initialWidth: "300", initialHeight: "100", opacity: 0.8, loop: false, scrolling: false, escKey: false, arrowKey: false, top: false, right: false, bottom: false, left: false });
        });
    </script>
    <script type='text/javascript' src='assets/winsome/navigation.js'></script>
    <script type='text/javascript' src='assets/winsome/skip-link-focus-fix.js'></script>
    <script type='text/javascript' src='assets/owl-carousel/owl.carousel.min.js'></script>
    <script type='text/javascript' src='assets/js/jquery.waypoints.min.js'></script>
    <script type='text/javascript' src='assets/js/jquery.counterup.min.js'></script>
    <script type='text/javascript' src='assets/js/jquery.meanmenu.js'></script>
    <script type='text/javascript' src='assets/winsome/custom.js'></script>
    <script type='text/javascript' src='assets/colorbox/jquery.colorbox.1.5.9-min.js'></script>
</body>

</html>
